<header class="page-header">
  <div class="logo">
    <img src="../../public/images/logo.svg" alt="The H Word logo" width="48" height="70" class="logo__image">
    <p class="logo__name">Watching Overload</p>
  </div>
  <nav class="main-nav">
    <ul class="menu">
      <li class="menu__item"><a href="/" class="menu__link">Posts</a></li>
      <li class="menu__item"><a href="/about" class="menu__link">About</a></li>
      <li class="menu__item"><a href="/create" class="menu__link">New Post</a></li>
    </ul>
  </nav>
</header>