<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../../public/images/favicon.ico" type="image/icon">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../public/styles/style.css">
  <% if (style) { %>
  <link rel="stylesheet" href="../../public/styles/<%= style %>.css">
  <% } %>
  <title>Watching Overload | <%= title %></title>
</head>