<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <main class="container-404">
    <h1 class="title-404">404</h1>
    <p>Page does not exist. <br> Here is the <a href="/">link</a> to the homepage</p>
  </main>
</body>

</html>