<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <main role="main" class="page-main">
    <h1 class="title">About</h1>
    <p>This is absolutely useless blog with no interesting stuff in it. Frankly speaking, it is just a university task
      that had to be done. I used node.js, express.js, mongodb to create a server and view engine to dynamically
      generate content on the page. And, of course, I wrote the styles myself (got inspired by one blog page). Hate
      these UI frameworks &#128545;</p>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>

</html>